.products-page__container {
  max-width: 1100px;
  margin: 0 auto;
}


.products-page__search-input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  font-size: 15px;
  border-radius: 20px;
}


.products-page__search-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 18px;
}

.products-page__loading {
  text-align: center;
  padding: 60px 20px;
}
